.header {
    height: 60px;
    display: flex;
    box-shadow: 0 0 2px black;
    z-index: 1;
    &__title {
        color: #70a076;
        display: grid;
        justify-items: left;
        align-content: center;
        padding-left: 30px;
    }
    &__bars {
        display: grid;
        justify-items: center;
        align-content: center;
    }
    &__title {
        font-size: 32px;
        flex-basis: 80%;
        letter-spacing: 1px;
    }
    &__bars {
        flex-basis: 20%;
    }
    &__icon {
        height: 30px;
        width: 30px;
        // filter: invert(80%) sepia(100%) saturate(0%) hue-rotate(5deg)
        //     brightness(111%) contrast(101%); // white svg color
    }
}
